
doctype html
html
	head
		title Palindrome Checker
	body
		h1 Palindrome Checker:
		form(action="/" method="POST")
			label(for="number") Enter a number:
			input(type="text" name="number" id="number")
			button(type="submit") Check Palindrome
	if message
		p(class=message.class) #{message.text}